<!DOCTYPE html>
<html>

<head>
    <title>Kanji flashcards</title>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/static/another.css">
</head>

<body>
    <h1>Welcome to Kanji Flashcards</h1>
    <h2>Study Japanese in an interactive way</h2>
    <h3>Enter the Kanji :</h3>
    <form action="/get-value" method="post">
        <input type="text" name="kanji character">
        <button type="submit">Search</button>
    </form>

</body>

</html>