<!doctype html>
<html>

<head>
    <title>Flashcards</title>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body style="font-family: Arvo;">
    <div class="main">
        {% for item in flashcards %}
        <div class="left" style="position: relative;padding-bottom: 20px;">
            <div class="audio" style="position: absolute; top: 0; right: 0; margin-top: 5px; margin-right: 5px;" onclick="playAudio('/audio/{{ item.id }}.mp3')">
                <img src="/static/audio.PNG" width="40" height="40" onclick="playAudio('/audio/{{item.id}}.mp3')">
            </div>


            <div class="kanji-container">
                <h1 class="kanji">{{ item.literal }}</h1>
                <div class="container">
                    <h5 class="jlpt" style="font-weight: 500;">JLPT: {{ item.jlpt }}</h5>
                    <h5 class="strokes" style="font-weight: 500;">strokes: {{ item.stroke_counts }}</h5>
                </div>
            </div>
            <div class="meaning" style="margin-top: 50px;margin-left: 20px;">
                {% for meaning in meanings%}
                <h5 class="mean">{{ meaning }}</h5>
                {% endfor %}
            </div>
        </div>
        <div class="right" style="padding-bottom: 20px;">
            <div class="audio" style="margin-left: 240px; margin-top: 5px; margin-bottom: 0;" onclick="playAudio( '/examples/{{item.id}}.mp3') ">
                <img src="/static/audio.PNG " width="40 " height="40 " onclick="playAudio( '/examples/{{item.id}}.mp3') ">
            </div>

            <div class="reading ">
                <h4 class="kun_on " style="margin-top: 0px;">ON readings:</h4>
                <div class="on ">{{ item.ja_ons }}</div>
                <h4 class="kun_on ">KUN readings:</h4>
                <div class="kun ">{{ item.ja_kuns }}</div>
            </div>
            <div style=" border-top: 1px solid #8DA6BC; margin-bottom: 10px; width: 50%; margin-left: 70px; "></div>
            <div class="example " style="margin-top: 0px; ">
                <div class=" sentence " style="margin-top: 0px; ">{{ item.example }}</div>
                <div class="translation " , style="text-align: center; ">{{ item.example_translation}}</div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="/static/script.js "></script>

</body>

</html>